<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="home_style.css"></a>
		<link rel="stylesheet" type="text/css" href="profile_style.css"></a>
		<link rel="stylesheet" type="text/css" href="chatbox.css"></a>
		<script type="text/javascript" src="home.js"></script> 

		<style>
			ul {
  				list-style-type: none;
  				margin: 0;
  				padding: 0;
				}
			li  {
				display: inline;
			}
		</style>

			
</head>
<body >
	
	<div class="header">
	<h1 align="center">Welcome to Chat Application</h1>
	<ul class="dropdown">
		<li >
			<a id="username" href="https://testchaatapp.herokuapp.com/profile" style="font-size: 30px; color: #ddd; padding-right: 25px"> <%= username %> </a>
		</li>
		<li>
			<a href="https://testchaatapp.herokuapp.com/logout" style="font-size: 20px; color: #ddd">Logout</a>
		</li>
	</ul>
	</div>
	
	<div class="container"> 
	  <div class="row">
	    <div class="col-sm-3 border-box">
	    	<h3 align="center" style="padding-top: 10px">Online Users</h3>
			<ul class="list-group" style="width: 80%"></ul>
	    </div>
	    <div class="col-sm-9" style="background-color:; margin-top: 20px">
	      <div id="chat-box">
		  	<div id="chat-username"><h3 id="chat-room" name="chat-room" style="padding-left: 20px">You are in a chat room.</h3></div>
		  	<div class="chat-window" id="chat-window-default">
				<div class="output"></div>
			</div>
			<input id="message" type="text" placeholder="Message" /> 
			<button class="send-button" id="send" name="default">Send</button>
		  </div>   
	    </div>
	  </div>	  
	</div>

	
	<!--<div class="container">
	  <h2>Online Users</h2>
	  <ul class="list-group" style="width: 40%"> 
	  </ul>
	

	  <div id="chat-box">
	  	<div id="chat-username"><h4 id="chat-room" name="chat-room">YOU are in a chat room</h4></div>
	  	<div class="chat-window" id="chat-window-default">
			<div class="output"></div>
		</div>
		<input id="message" type="text" placeholder="Message" /> 
		<button class="send-button" id="send" name="default">Send</button>
	  </div>
	</div>-->	
</body>
</html>