<!DOCTYPE html>
<html>
<head>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="signup.js"></script>
	<script type="text/javascript" src="login_validate.js"></script> 
</head>
<body>
	
	<h1 align="center">Ennter School information</h1>
	<hr>

	<form name="schoolinfo" id="schoolinfo" align="center" method="post">
				
		District <select name="district" id="district" size="1" style="margin: 20px" placeholder="Select District">
			<option value="" disabled='' selected=''>Select District</option>
			<% for(var d of district) { %>
			<option value=" <%= d.id %>">  <%= d.name %></option> 
			<% } %>
		</select>

		<br>

		High School <select name="hs" id="hs" size="1" style="margin: 20px">
			<option value="" disabled="" selected=""> Select High School </option>			
		</select>
		
		<button type="button" id="validate" onclick="schoolinfo_valid()" style="margin: 20px">Submit</button>
		<button type="Submit" id="submit" hidden></button>

	</form>

</body>
</html>