.header {
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #ddd;
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    float : right;
    margin-right: 20px;
    z-index: 1;
}


            